:root {
    --grey: #ccc;
}

body {
    background: var(--grey);
}


div:active {

}

div:nth-child(odd) {

}

div:empty {

}

div:not([alt]):not(:empty) {

}

div::before {
    content: "ABC";
    width: 100px;
    height: 100px;
    display: block;
}
